@{
    ViewData["Title"] = "Home Page";
}
@model IList<Hero>

<div class="text-center">
    <h1 class="display-4">Overwatch Hero list</h1>
</div>

@foreach (Hero hero in Model)
{
    //<label>@hero.ToString()</label> <label> Tier: @hero.Tier()</label>
    //<img src=@hero.Portrait></img>
    //@Url.Action("Index", "HeroDetail", new {id = hero.Key});

    <a href="@Url.Action("Index", "HeroDetail", new {key = @hero.Key})">
        <span>@hero.Name</span>
    </a>
    <br>
}
